body {
    background: linear-gradient(blue 0%, #dd4c4f 40%, #1EBEBC 100%);
}

.navbar {
    display: flex;
  justify-content: flex-end; /* pindah ke kanan */
  padding: 10px 20px;
}

.profile {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 120px;
}
.profileimage {
    width: 120px;
}
.profile h2 {
    color:white;
}
.profile h4 {
    color:white;
    transform: translateY(-10px);
}
.biodata {
    background: linear-gradient(rgb(252, 252, 252) 0%, #dd4c4e00 40%, #1ebebbce 100%);
    padding-bottom: 350px;
    padding-top: 100px;
}

.project {
    padding-top: 120px;
}

.contact {
    padding-top: 120px;
}

.footer {
    background-color: white;
    padding-bottom: 100px;
    padding-top: 300px;
}

.watermark {
    padding-top: 30px;
}